#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--colors-default-900);
  padding: 20px;
  min-height: 300px;
  gap: 15px;
  color: var(--colors-default-500);
  font-size: var(--font-size-medium);
}

#footer h3 {
  color: var(--colors-default-50);
  margin-bottom: 20px;
}

#footer a {
  color: var(--colors-default-500);
}

#footer a:hover {
  color: var(--colors-default-300);
}

#footer .about .about-details {
  display: flex;
  flex-direction: column;
}
#footer .social ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
