<link rel="stylesheet" href="../components/Sign_In/Sign_In.css">
<script src="./components/Sign_In/Sign_In.js"></script>

<div id="sign-in--wrapper" class="sign-in--wrapper">
    <div class="sign-in__container">
        <div class="sign-in__btnClose">
            <img src="../../assets/icons/remove.svg" >
        </div>
        <div class="sign-in__btnBack hide">
            <img src="../../assets/icons/arrow_left.svg" />
            <label>Quay lại</label>
        </div>
        <div class="sign-in__logo">
            <i class="fa-brands fa-stumbleupon"></i>
            <span>Tri thức mở, thành công tới.</span>
        </div>
        <h1 class="sign-in__title">Đăng nhập</h1>
        <p class="sign-in__rule">
            Mỗi người nên sử dụng riêng một tài khoản,
            tài khoản nhiều người dùng sử dụng chung sẽ bị khóa.
        </p>
        <div class="sign-in__options">
            <ul class="sign-in__options-list">
                <li class="sign-in__options-item" id="btnSign_In--Emaill">
                     <i class="fa-regular fa-user"></i>
                    <div>Sử dụng với email / số điện thoại</div>
                </li>
                <li class="sign-in__options-item">
                    <img src="../../assets/icons/google.svg" alt="">
                    <div>Đăng nhập với Google</div>
                </li>
                <li class="sign-in__options-item">
                    <img src="../../assets/icons/facebook.svg" alt="">
                    <div>Đăng nhập với Facebook</div>
                </li>
                <li class="sign-in__options-item">
                    <span>
                        <i class="fa-brands fa-github"></i>
                    </span>
                    <div>Đăng nhập với Github</div>
                </li>
            </ul>
        </div>
        <div id="sign-in__withEmaill" class="hide">
            
            <ul class="sign-in__withEmaill">
                <li class="sign-in__withEmaill-item">
                    <label for="username">Tên đăng nhập</label>
                    <input type="text" placeholder="Emaill hoặc Username" id="email" required="Trường này không được để trống">
                    <input type="password" placeholder="Mật khẩu" id="password" required="Trường này không được để trống">
                </li>
                <li class="sign-in__withEmaill-remember">
                    <input type="checkbox"/>
                    <label>Ghi nhớ đăng nhập</label>
                </li>
                <button type="button">Đăng nhập</button>
            </ul>
        </div>
        <div class="sign-in__footer">
            <p>Bạn chưa có tài khoản? <a href="#">Đăng ký</a></p>
            <p><a href="#">Quên mật khẩu?</a></p>
            <span class="sign-up__policy">Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với <a href="#">điều khoản sử dụng của chúng tôi</a></span>
        </div>
    </div>
</div>
<div class="mark-in"></div>