/* .container {
  display: grid;
  grid-template-columns: max-content 1fr;
  max-width: 100%;
}

#sidebar {
  max-width: 400px;
  width: 100%;
  padding: 20px;
}

#content {
  padding: 50px;
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
} */
