nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 10px;
  min-width: 500px;
  border-bottom: 1px solid var(--colors-default-200);
  position: sticky;
  top: 0;
}

nav a {
  text-decoration: none;
  color: var(--colors-default-950);
}

nav .logo {
  cursor: pointer;
}

nav .logo i {
  width: 20px;
  height: 20px;
}

nav .search {
  margin-left: 20px;
  margin-right: 15px;
  flex: 1;
  max-width: 400px;
  border: 1px solid var(--colors-default-200);
  border-radius: 20px;
}

nav .search * {
  padding: 10px;
}

nav .search i {
  margin-left: 8px;
}

nav .search input {
  border: none;
  width: calc(100% - 50px);
  background: transparent;
  outline: none;
}

nav .nav-links {
  padding: 7px;
}
nav .nav-links * {
  padding: 9px 20px;
  border-radius: 99px;
}

nav .nav-links #sign-in {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  color: var(--colors-default-50);
}
nav .nav-links #sign-up nav .nav-links *:not(:first-child) {
  margin-left: 15px;
}

@media screen and (max-width: 1200px) {
  nav span {
    display: none;
  }

  nav .search input::placeholder {
    content: 'Tìm kiếm';
  }
}

@media screen and (max-width: 600px) {
  nav span {
    display: none;
  }

  nav .search input::placeholder {
    content: 'Tìm kiếm';
  }
}
