<link rel="stylesheet" href="../components/nav/nav.css" />
<script src="../components/nav/nav.js"></script>

<nav id="nav" class="nav">
  <a
    class="logo"
    href="../../../../Frontend/pages/Default/index.html">
    <i class="fa-brands fa-stumbleupon"></i>
    <span>Tri thức mở, thành công tới.</span>
  </a>
  
  <div class="search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input
      type="text"
      id="search"
      placeholder="Tìm kiếm khoá học, bài viết, video, ..." />
  </div>
  <div class="nav-links">
    <button id="sign-up">Đăng ký</button>
    <button id="sign-in">Đăng nhập</button>
  </div>
    <div class="Profile_user none">
      <img src="https://avatar.iran.liara.run/public/18" alt="">
    </div>
    <ul class="slide"> 
      <a href="../Profile/Profile.html" class="dropdown-toggle">
        <li>
          <img src="../../assets/icons/user.svg"/>
          <span>Trang cá nhân</span>
        </li>
      </a>
      <a href="#" class="dropdown-toggle">
        <li>
          <img src="../../assets/icons/course.svg"/>
          <span>Khóa học của tôi</span>
        </li>
      </a>
      <div class="dropdown-toggle" id="logout">
        <li>
          <img src="../../assets/icons/logout.svg"/>
          <span>Đăng xuất</span>
        </li>
      </div>
  </ul>
</nav>
