<link rel="stylesheet" href="../components/nav/nav.css" />
<script src="../components/nav/nav.js"></script>

<nav id="nav">
  <a class="logo" href="http://127.0.0.1:3000/pages/Default/index.html">
    <i class="fa-brands fa-stumbleupon"></i>
    <span>Tri thức mở, thành công tới.</span>
  </a>
  <div class="search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input
      type="text"
      id="search"
      placeholder="Tìm kiếm khoá học, bài viết, video, ..." />
  </div>
  <div class="nav-links">
    <a href="#" id="sign-up">Đăng ký</a>
    <a href="#" id="sign-in">Đăng nhập</a>
  </div>
</nav>
