<link rel="stylesheet" href="../components/review/review.css" />
<script src="../components/review/review.js"></script>

<div id="review">
  <h2>Reviews</h2>
  <div class="avatar_user">
    <div class="submit_review">Nhập bình luận mới của bạn</div>
  </div>
  <div class="wysiwyg-editor none">
    <!-- Star Rating -->
    <div class="star-rating">
      <span class="star" data-value="1">&#9733;</span>
      <span class="star" data-value="2">&#9733;</span>
      <span class="star" data-value="3">&#9733;</span>
      <span class="star" data-value="4">&#9733;</span>
      <span class="star" data-value="5">&#9733;</span>
    </div>
    <div class="opinion_reviews">
      <div id="editor" contenteditable="true" class="textarea"></div>
      <div class="buttons">
        <button class="cancelReviews">Hủy</button>
        <button class="submitReviews">Bình luận</button>
      </div>
    </div>
  </div>
  <div class="list_review__container">
    <div class="list_review__sort">
      <h1>Sắp xếp theo</h1>
      <div class="sort_btn">
        <span>Mới Nhất</span>
      </div>
    </div>
    <div class="list_review"></div>
  </div>
  <div class="filter_rating">
    <h4>Lọc theo đánh giá</h4>
    <div class="filter_stars">
      <span class="filter_star" data-value="1">&#9733;</span>
      <span class="filter_star" data-value="2">&#9733;</span>
      <span class="filter_star" data-value="3">&#9733;</span>
      <span class="filter_star" data-value="4">&#9733;</span>
      <span class="filter_star" data-value="5">&#9733;</span>
    </div>
  </div>
</div>
