<link rel="stylesheet" href="../components/review/review.css" />
<script src="../components/review/review.js"></script>

<div id="review">
  <h2>Reviews</h2>
  <div class="avatar_user">
    <div class="submit_review">Nhập bình luận mới của bạn</div>
  </div>
  <div class="wysiwyg-editor none">
    <div class="toolbar">
      <button type="button" onclick="execCmd('bold')"><b>B</b></button>
      <button type="button" onclick="execCmd('italic')"><i>I</i></button>
      <button type="button" onclick="execCmd('underline')"><u>U</u></button>
      <button type="button" onclick="execCmd('insertUnorderedList')">
        • List
      </button>
      <button type="button" onclick="execCmd('createLink')">🔗 Link</button>
      <button type="button" id="imageButton">🖼️ Image</button>
      <!-- Hidden file input for selecting image -->
      <input
        type="file"
        id="imageInput"
        accept="image/*"
        style="display: none" />
      <button type="button" onclick="execCmd('formatBlock', 'blockquote')">
        “ Quote
      </button>
    </div>
    <div id="editor" contenteditable="true" class="textarea"></div>
    <div class="buttons">
      <button class="cancel">Hủy</button>
      <button class="submit">Bình luận</button>
    </div>
  </div> 

  <div class="list_review">
    <div class="list_review__item">
      <div class="author">
        <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="profile picture">
        <div class="author_infor">
          <div class="author_infor__name" >
            <span>Long Duy</span>
            <div>2 tháng trước</div>
          </div>
          <div id="star-container">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
        </div>
        </div>
      </div>
      <div class="content_reviews">
        <span>Bài này đáng để học đó ae !</span>
        <div class="btnReport">
          <img src="../../assets/icons/dots.svg" alt="" class="moreBtn">
          <div id="btnDelete" class="btnDelete none">
              Xóa bình luận
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
