
#sign-up--wrapper{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 10;
    width: 530px;
    height: 600px;
    animation-name: _inline-u6mwo5o_8ox72_1;
    animation-duration: .3s;
    margin: 0 auto;
}
.sign-up--wrapper{
    display: none;
}
.sign-up__container{
    width: 100%;
    padding: 16px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    text-align: center;
    color: var(--colors-default-900);
    border-radius: 8px;
    background-color: var(--colors-default-50);
}
.sign-up__btnClose{
    float: right;
    display: inline;
    margin-top: 10px;
    padding: 6px 6px;
    cursor: pointer;
    border-radius: 44px;
    background-color: var(--colors-default-100);
}
.sign-up__btnBack{
    float: left;
    display: inline;
    margin-top: 10px;
    padding: 6px 6px;
    opacity: .6;
    cursor: pointer;
}
.sign-up__btnBack img, label{
    cursor: pointer;
}
.sign-up__btnBack:hover{
    opacity: 1;
}
.sign-up__btnClose img {
    width: 20px;
    height: 25px;
}
.sign-up__logo{
    font-size: var(--font-size-large);
    margin-top: 50px;
}
.sign-up__title{
    font-weight: var(--font-weight-bold);
    line-height: 1.4;
    margin: 12px 0;
}
.sign-up__rule{
    margin: 12px 0;
    padding: 0 50px;
    line-height: 1.4;
    color: var(--colors-emphasis);
    font-size: var(--font-size-small);
}
.sign-up__options{
    margin: 20px 20%;
}
.sign-up__options-list{
}
.sign-up__options-item{
    display: flex;
    padding: 10px;
    margin: 15px 0;
    border-radius: 44px;
    color: var(--colors-default-950);
    font-weight: var(--font-weight-medium);
    align-items: center;
    background-color: white;
    cursor: pointer;
    border: 2px solid #dce0e3
}
.sign-up__options-item:hover{
    background-color: var(--colors-default-100);
}
.sign-up__options-item div{
    flex: 2;
    font-size: var(--font-size-small);
}
.sign-up__footer{
    margin: 20px 0;
}
.sign-up__footer p {
    margin: 10px 0;
}
.sign-up__footer a {
    color: var(--color-primary);
    text-decoration: underline;
}
.sign-up__policy{
    font-size: var(--font-size-small);
}
.sign-up__policy a{
    color: var(--colors-default-900);
    text-decoration: underline;
    text-align: center;
}
.mark-up{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0006;
    z-index: 9;
    animation-name: _inline-u6mwo5i_8ox72_1;
    animation-duration: .3s;
    animation-timing-function: linear;
    display: none;
}
@keyframes _inline-u6mwo5i_8ox72_1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes _inline-u6mwo5o_8ox72_1{
    0%{
        scale: 0;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
@keyframes _none-u6mwo5o_8ox72_1{
    100%{
        scale: 1;
        opacity: 1;
    }
    0%{
        scale: 0;
        opacity: 0;
    }
}
.show{
    display: block;
}

.sign-up__withEmaill{
    margin: 20px 10%;
}
.sign-up__withEmaill .sign-up__withEmaill-item{
    margin: 10px 0;
    list-style: none;
    text-align: left;
}
.sign-up__withEmaill .sign-up__withEmaill-item label{
    display: flex;
    margin: 5px 0 ;
    justify-content: space-between;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
}
.sign-up__withEmaill .sign-up__withEmaill-item input{
    border: none;
    width: 100%;
    padding: 15px;
    margin: 5px 0 ;
    border-radius: 44px;
    font-size: var(--font-size-normal);
    border: 2px solid #dce0e3;
}
.sign-up__withEmaill button {
    border: none;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);
    width: 100%;
    padding: 10px;
    margin: 5px 0 ;
    border-radius: 44px;
    color: var(--colors-default-50);
    background-color: var(--color-secondary);
}
.active__email{
    display: block;
}
.hide{
    display: none;
}