<link rel="stylesheet" href="../components/Sign_Up/Sign_Up.css" />
<script src="./components/Sign_Up/Sign_Up.js"></script>

<div id="sign-up--wrapper" class="sign-up--wrapper">
  <div class="sign-up__container">
    <div class="sign-up__btnClose">
      <img src="../../assets/icons/remove.svg" />
    </div>
    <div class="sign-up__btnBack hide">
      <img src="../../assets/icons/arrow_left.svg" />
      <label>Quay lại</label>
    </div>
    <div class="sign-up__logo">
      <i class="fa-brands fa-stumbleupon"></i>
      <span>Tri thức mở, thành công tới.</span>
    </div>
    <h1 class="sign-up__title">Đăng ký tài khoản</h1>
    <p class="sign-up__rule">
      Mỗi người có thể sử dụng riêng một tài khoản, tài khoản nhiều người dùng
      sử dụng chung sẽ bị khóa.
    </p>
    <div class="sign-up__options">
      <ul class="sign-up__options-list">
        <li class="sign-up__options-item" id="btnSign_Up--Email">
          <i class="fa-regular fa-user"></i>
          <div>Sử dụng với email / số điện thoại</div>
        </li>
        <li class="sign-up__options-item">
          <img src="../../assets/icons/google.svg" alt="" />
          <div>Đăng ký với Google</div>
        </li>
        <li class="sign-up__options-item">
          <img src="../../assets/icons/facebook.svg" alt="" />
          <div>Đăng ký với Facebook</div>
        </li>
        <li class="sign-up__options-item">
          <span>
            <i class="fa-brands fa-github"></i>
          </span>
          <div>Đăng ký với Github</div>
        </li>
      </ul>
    </div>
    <div id="sign-up__withEmail" class="hide">
      <ul class="sign-up__withEmaill">
        <form>
          <li class="sign-up__withEmaill-item">
            <label for="fullname-sign-up">Tên của bạn?</label>
            <input
              type="text"
              placeholder="Họ và tên của bạn"
              id="fullname-sign-up" />
            <span id="error-fullname-sign-up" class="error-message"></span>
          </li>
          <li class="sign-up__withEmaill-item">
            <label for="email-sign-up">Email của bạn</label>
            <input
              type="email"
              placeholder="Địa chỉ email"
              id="email-sign-up" />
            <span id="error-email-sign-up" class="error-message"></span>
            <input
              type="password"
              placeholder="Mật khẩu"
              id="password-sign-up" />
            <span id="error-password-sign-up" class="error-message"></span>
          </li>
          <button id="register_account">Đăng ký</button>
        </form>
      </ul>
    </div>
    <div class="sign-up__footer">
      <p>Bạn đã có tài khoản? <a href="#">Đăng nhập</a></p>
      <p><a href="#">Quên mật khẩu?</a></p>
      <span class="sign-up__policy"
        >Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với
        <a href="#">điều khoản sử dụng của chúng tôi</a></span
      >
    </div>
  </div>
</div>
<div class="mark-up"></div>
