<script type="module" src="wrapper.js"></script>
<link rel="stylesheet" href="../components/wrapper/wrapper.css" />

<div id="wrapper">
  <div class="premium">
    <div class="heading">
      <h2>Khoá học Pro <span class="new">Mới</span></h2>
      <a href="#">Xem lộ trình <i class="fa-solid fa-chevron-right"></i></a>
    </div>
    <div class="premium-courses courses"></div>
  </div>
  <div class="free">
    <div class="total-learners">
      <span id="total"></span><span>+ người khác đã học</span>
    </div>
    <div class="heading">
      <h2>Khoá học miễn phí</h2>
      <a href="#">Xem lộ trình <i class="fa-solid fa-chevron-right"></i></a>
    </div>
    <div class="free-courses courses"></div>
  </div>
</div>
