<link
  rel="stylesheet"
  href="../components/learning-header/learning-header.css" />
<script src="../components/learning-header/learning-header.js"></script>

<nav class="header-container">
  <div class="left flex">
    <div class="back-btn" id="btn-home">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M12.727 3.687a1 1 0 1 0-1.454-1.374l-8.5 9a1 1 0 0 0 0 1.374l8.5 9.001a1 1 0 1 0 1.454-1.373L4.875 12z" />
      </svg>
      <span>Quay lại</span>
    </div>
    <div class="logo" id="home">
      <img src="../../assets/images/logo.png" alt="Logo" />
    </div>
  </div>

  <div class="right flex end">
    <div class="right-content flex">
      <div class="progress flex">
        <div class="progress-circle">
          <span class="progress-percent">0%</span>
        </div>
        <p>
          <span id="learned-lessons"> 0 </span>/
          <span id="unfinished-Lessons"> 0 </span> Bài học
        </p>
      </div>
      <div class="note">
        <img src="../../assets/icons/question.svg" alt="question icon" />
        <span>Hướng dẫn</span>
      </div>
    </div>
  </div>
</nav>
