.header-container {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(91, 86, 86, 0.704);
  color: white;
  font-size: var(--font-size-small);
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav.header-container .left {
  flex: 1;
}

.left #home {
  cursor: pointer;
}

nav.header-container .right {
  flex: 1;
}

nav.header-container .right-content.flex {
  justify-content: flex-end;
}

nav.header-container .left .logo {
  width: 60px;
  height: 60px;
}

.left .back-btn {
  cursor: pointer;
}

.back-btn svg {
  position: relative;
  top: 3px;
}

.back-btn {
  margin-right: 20px;
  padding: 20px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.progress-container {
  text-align: center;
  align-items: flex-end;
}

.progress-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  /* percent for circle */
  background: conic-gradient(#f56545 94%, #4e4e4e 0%);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.progress-circle::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.progress-percent {
  font-size: var(--font-size-small);
  color: black;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.note img {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
}

.note {
  text-align: center;
  position: relative;
  top: -3px;
}

.end {
  justify-content: flex-end;
}
