.container {
  min-height: 100vh;
  background-color: var(--colors-default-50);
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
}

.container #loader {
  top: 30% !important;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.container .course-content {
  display: grid;
  grid-template-columns: 70% 25%;
  grid-column-gap: 30px;
  margin-top: 30px;
  padding: 10px;
  transition: 1s;
}

.course-content .left-content #course-title {
  font-weight: var(--font-weight-bold);
  font-weight: 700;
  min-height: 33px;
  text-align: justify;
}

.left-content #course-desc {
  margin: 10px;
  font-size: var(--font-size-normal);
  line-height: 1.6rem;
  color: var(--colors-default-400);
  text-align: justify;
}

.left-content #learning-goals {
  margin-top: 30px;
}

.left-content #learning-goals .content-details {
  margin-top: 10px;
}

.content-details .goal-item {
  margin-top: 12px;
  line-height: 1.5rem;
}

.content-details .goal-item img {
  position: relative;
  top: 2px;
  margin-right: 6px;
}

.left-content .course-detail-header {
  margin: 40px 0 20px;
}

.course-detail-header h2 {
  margin-bottom: 8px;
}

.left-content .course-detail-header .header-detail {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
}

.left-content .course-detail-header .left-content .panel {
  padding: 20px;
  max-width: 100%;
  font-size: var(--font-size-small);
}

.panel .panel-header {
  display: flex;
  padding: 14px 30px 14px 48px;
  background-color: var(--colors-default-100);
  margin-top: 8px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: ns-resize;
  position: relative;
}

.panel .panel-header p span {
  height: 100%;
  font-size: var(--font-size-small);
}

.panel .panel-header h3 {
  vertical-align: center;
}

.panel .panel-header::before {
  content: '-';
  position: absolute;
  transform: translateY(-50%);
  top: 45%;
  left: 20px;

  color: var(--color-primary);
  font-size: 40px;
}

.panel .panel-item {
  padding: 20px;
  font-size: var(--font-size-small);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  padding: 0 30px 0 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  overflow: hidden;
  line-height: 1.5;
  color: var(--text-color);
}

.panel .panel-item .div:last-child {
  padding-left: 20px;
}

.collapse {
  display: none;
}

.panel:has(.collapse) > .panel-header::before {
  content: '+';
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.right-content {
  text-align: center;
  align-items: center;
}

.right-content .right-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#course-img {
  background-image: url('https://ucarecdn.com/6ec1a08d-d609-45d9-b1f4-215b20c07f42/-/preview/1000x663/');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 3/2;
}

#course-price {
  color: var(--color-secondary);
  font-size: 2rem;
  letter-spacing: 2px;
}

#registerCourse {
  background-color: var(--color-secondary);
  color: var(--colors-default-50);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-text-stroke: 0.3px #c9b3b3;
  font-size: var(--font-size-normal);
  max-width: 180px;
}

#registerCourse:hover {
  background-color: var(--color-primary);
}

.course-info {
  text-align: left;
  text-wrap: wrap;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  line-height: 1.8rem;
}

.course-info img {
  width: var(--font-size-normal);
  aspect-ratio: 1/1;
  margin-right: 7px;
}

.course-info span {
  font-weight: var(--font-weight-bold);
}

.panel-item div img {
  position: relative;
  top: 2px;
  left: -2px;
}

.course-require {
  margin-top: 30px;
}

.course-require .require-item {
  margin-top: 10px;
}

.require-item img {
  position: relative;
  top: 2px;
}

.require-items #require-container {
  line-height: 1.5rem;
}
